{% extends "layout.html" %}

{% block content %}
<br>

<div class="container">
    <!-- MAQUINARIA -->
    <div class="card" style="width: 30rem;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for maquinaria in listmaquinarias %}
                <tr>
                    <td>{{maquinaria.0}}</td>
                    <td>{{maquinaria.1}}</td>
                    <td>{{maquinaria.2}}</td>
                    <td>{{maquinaria.3}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card-body">
            <div class="container" ALING="CENTER">
                <form action="/maquinaria" method="POST">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>
                            <center>
                                <h2><b>Registrar Maquinaria</b></h2>
                            </center>
                        </legend><br>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tipo:</label>
                            <div class="col-md-10 selectContainer">
                                <div class="input-group">

                                    <input name="tipoma" placeholder="Tipo de Maquinaria" class="form-control"
                                        type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Matricula</label>
                            <div class="col-md-10 inputGroupContainer">
                                <div class="input-group">

                                    <input name="matriculama" placeholder="Matricula" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Precio</label>
                            <div class="col-md-10 inputGroupContainer">
                                <div class="input-group">

                                    <input name="precio" placeholder="Precio" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-10 control-label"></label>
                            <div class="col-md-10"><br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                    type="submit" class="btn btn-success">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAÑADIR
                                    MAQUINA
                                    <span
                                        class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <br>
    <!-- FINCA -->
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <div class="container" ALING="CENTER">
                <form action="/finca" method="POST">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>
                            <center>
                                <h2><b>Registrar finca</b></h2>
                            </center>
                        </legend><br>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre Finca:</label>
                            <div class="col-md-10 selectContainer">
                                <div class="input-group">

                                    <input name="nomfinca" placeholder="Digite Nombre de la finca" class="form-control"
                                        type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Extención</label>
                            <div class="col-md-10 inputGroupContainer">
                                <div class="input-group">

                                    <input name="extenmaquina" placeholder="Extención" class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-10 control-label"></label>
                            <div class="col-md-10"><br>
                                <button type="submit" class="btn btn-success">AÑADIR FINCA
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <br>
    <!-- TRABAJADOR -->
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <div class="container" ALING="CENTER">
                <form action="/trabajador" method="POST">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>
                            <center>
                                <h2><b>Registrar Trabajador</b></h2>
                            </center>
                        </legend><br>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre :</label>
                            <div class="col-md-10 selectContainer">
                                <div class="input-group">

                                    <input name="nomtrabjador" placeholder="Digite Nombre del trabajador"
                                        class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Direccion: </label>
                            <div class="col-md-10 inputGroupContainer">
                                <div class="input-group">

                                    <input name="dirtrabajador" placeholder="Direccion" class="form-control"
                                        type="text">
                                </div>
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-10 control-label"></label>
                            <div class="col-md-10"><br>
                                <button type="submit" class="btn btn-success">AÑADIR Trabajador
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">valor de las maquinas nuevas</th>
                <th scope="col">FINCAS</th>
            </tr>
        </thead>
        <tbody>
            {% for maquinaria in lisval %}
            <tr>
                <td>{{maquinaria.0}}</td>
            </tr>
            {% endfor %}

            {% for finca in lisfinca %}
            <tr>
                <td>{{finca.0}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock  %}